:root{
    --bluebttn: #0061FF;
}

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}

nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    background-color: white;
    z-index: 500;
}

button{
    background-color: white;
    margin: .5rem;
    border: none;
    font-weight:200;
}
img{
    display: block;
}
footer{
    background-color: black;
}



.flex{
    display: flex;
}

.nav-sec1{
    display: flex;
}
.nav-sec2{
    display: flex;
    align-items: center;
}
.bttn-dropbox{
    font-size: medium;
    font-weight: bold;
    display: flex;
    align-items: center;
    column-gap: .1rem;
}

.bttn-dropbox > img{
    width: 30%;
}

.bttn-blue{
    background-color: var(--bluebttn);
    padding: .2rem .5rem;
    color: white;
}

.container1000{
    max-width: 1000px;
    margin: auto;
}

.container920{
    max-width: 920px;
    margin: auto;
}


.header-secion{
    background-color: #B4D0E7;
    padding-left: .5rem;
    padding-right: .5rem; 
    text-align: center;
    font-weight: 200;
    font-size: 0.8rem;
    text-align: left;
}

.position-hdr{
    position: relative;
    top: 100px;
}

.header-title{
    padding: 1.5rem 0;
    font-size: 3rem;
    line-height: 4rem;
}

.header-description > p{
   margin-bottom: 1rem;
}

.header-description > button{
    padding: 1rem;
    font-size: 1rem;
    margin: 0%;
    margin-bottom: 1rem;
}
.header-description > div{
    margin-bottom: 4rem;
 }

 .header-description > img{
    width: 10%;
 }

.header-img{
    width:70%;
}

.section1{
    margin-top: 10rem;
    padding-bottom: 10rem;
    font-size: small;
    font-weight: 200;
}

.section1 > h2{
    font-size: 2rem;
    margin-bottom: 2rem;
}
.section1 > label{
    padding-right: 2rem;
}

.section2{
    margin-top: 5rem;
}

.section3{
    margin-top: 5rem;
    background-color: antiquewhite;
    padding-bottom: 10rem;
}

.secion4-link{
    margin-top: 5rem;
    background-color: antiquewhite;
    padding-bottom: 10rem;
}
.clients{
    margin-top: 5rem;
    background-color: antiquewhite;
    padding-bottom: 10rem;
}

.section5{
    margin-top: 5rem;
    background-color: antiquewhite;
    padding-bottom: 10rem;
}

footer > .container920{
    margin-top: 5rem;
    background-color: antiquewhite;
    opacity: 0.4;
    padding-bottom: 10rem;
}

.vertical-cards{
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    column-gap: 5%;
    
}

.plan-type{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .5rem;
    border: 1px solid lightgray;
    padding: .5rem 0;
}

.v-card  > .plan-type > img{
    width: 15%;
}

.Vcard-content{
    padding: 1rem;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;

}

.Vcard-content > ul{
    list-style: none;
}

.Vcard-content > button{
    padding: .5rem 1.5rem;
    margin: 1rem 0;
}

.line{
    background-color: lightgray;
    width: 20%;
    height: 1px;
    margin: 1rem 0;
}

.horizontal-card > .Hcard-content{
    display: flex;
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
    justify-content: space-between;
}

.Hcard-content > button{
    margin: 2rem 1.5rem;
    padding: .5rem 1.5rem;
}

.img-hrz{
    width: 5%;
}

.section2 > img{
    width: 60%;
}

.section2 > .description{
    padding: 2.5rem 2rem;
    color: grey;
}

.section2 > .description > h3{
    margin-bottom: 1rem;
    color: black;
}

.section2 > .description > p{
    font-size: small;
    margin-bottom: 2rem;
}

.section2 > .description > button{
    font-size: small;
    color: gray;
    font-weight: 500;
    border: 1px solid gray;
    padding: .5rem;
    margin: 0;
}

