:root{
    --bluebttn: rgb(0, 98, 255);
}

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;    
}

body{
    font-family: sans-serif;
}

nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    background-color: white;
    z-index: 500;
}

button{
    background-color: white;
    margin: .5rem;
    border: none;
    font-weight: 300;
}
img{
    display: block;
}
footer{
    background-color: black;
}

footer > .container920{
    margin-top: 5rem;
    padding: 1rem 0;
}


.flex{
    display: flex;
}

.margin2{
    margin: 2rem 0;
}

.pdg1-v{
    padding: 1rem 0;
}

.nav-sec1{
    display: flex;
}
.nav-sec2{
    display: flex;
    align-items: center;
    padding-right: 1.2rem;
}
.bttn-dropbox{
    font-size: medium;
    font-weight: bold;
    display: flex;
    align-items: center;
    column-gap: .1rem;
}

.bttn-dropbox > img{
    width: 30%;
}

.bttn-blue{
    background-color: var(--bluebttn);
    padding: .2rem .5rem;
    color: white;
}

/* dropdown-menù */
.nav-sec2, .nav-sec1 > button{
    position: relative;
}

.dropdown-menù{
    position: absolute;
    display: none;
    background-color: white;
    top: 100%;
    z-index: 100;
    min-width: 100px;
    text-align: left;
}

.dropdown-menù > a{
    border: 1px solid white;
}

.dropdown-menù > a{
    padding: 13px 15px;
    text-decoration: none;
    display: block;
    color: black;
}
.nav-sec1 > button:hover .dropdown-menù{
    display: block;
}

.nav-sec2 > button:hover .dropdown-menù{
    display: block;
}

.dropdown-menù > a:hover{
    border: 1px solid var(--bluebttn);
}


.container1000{
    max-width: 1000px;
    margin: auto;
}

.container920{
    max-width: 920px;
    margin: auto;
}


.header-section{
    background-color: #B4D0E7;
    padding-left: .5rem;
    padding-right: .5rem; 
    text-align: center;
    font-weight: 200;
    font-size: 0.8rem;
    text-align: left;
}

.position-hdr{
    position: relative;
    top: 100px;
}

.header-title{
    padding: 1.5rem 0;
    font-size: 3rem;
    line-height: 4rem;
}

.header-description > p{
   margin-bottom: 1rem;
}

.header-description > button{
    padding: 1rem;
    font-size: 1rem;
    margin: 0%;
    margin-bottom: 1rem;
}
.header-description > div{
    margin-bottom: 4rem;
 }

 .header-description > img{
    width: 10%;
 }

.header-img{
    width:70%;
}


.section1{
    margin-top: 10rem;
    font-size: small;
    font-weight: 200;
}

.section1 > h2{
    font-size: 2rem;
    margin-bottom: 2rem;
}
.section1 > label{
    padding-right: 2rem;
}

.section2{
    margin-top: 5rem;

}

.section3{
    margin-top: 5rem;
}

.section3 > h2{
    margin-bottom: 3rem;
}

.section4-link{
    margin-top: 5rem;
}
.clients{
    margin-top: 5rem;
}

.section5{
    margin-top: 5rem;
}
.input-circle{
    display: inline-block;
    height: 25px;
}
.input-circle > span{
    display: inline-block;
    line-height: 25px;
    
}
.input-circle > input{
    display: none;
}

.input-circle > .circle{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid black;
    vertical-align: text-bottom;
    margin: .5px 1px;
}

.input-circle input:checked + .circle{
    border: 5px solid var(--bluebttn);
}


.vertical-cards{
    margin-top: 2rem;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    column-gap: 5%;
   
}
.v-card{
    border: 1px solid lightgray;
}
.plan-type{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .5rem;
    border-bottom: 1px solid lightgray;
    padding: .5rem 0;
}

.v-card > .plan-type > img{
    width: 12.5px;
}


.Vcard-content{
    padding: 1rem;

}

.Vcard-content > h3{
    font-size: large;
    padding-bottom: 1rem;
}

.Vcard-content > .price{
    padding-bottom: .5rem;
    font-weight: bold;
}

.Vcard-content > ul{
    list-style: none;
    margin-top: 2rem;
}
.Vcard-content > ul > li{
    display: flex;
    column-gap: 5px;
    padding: 1rem 0;
}

.Vcard-content > ul > li > img{
    width: 7%;
    height: 7%;
}
.Vcard-content > button{
    padding: .5rem 1.5rem;
    margin: 1rem 0;
}

.card-line{
    background-color: lightgray;
    width: 20%;
    height: 1px;
    margin: 1rem 0;
}

.horizontal-card > .plan-type{
    border: 1px solid lightgray;
} 

.horizontal-card > .plan-type > img{
    width: 1.5%;
}

.horizontal-card > .Hcard-content{
    display: flex;
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
    justify-content: space-between;
    padding: 1rem;

}
.Hcard-content > div{
    width: 65%;
}

.Hcard-content >div > h3{
    font-size: large;
    padding-bottom: 1rem;
}

.Hcard-content > button{
    margin:  0;
    padding: .5rem 1.5rem;;
    align-self: flex-start;

}

.Hcard-content > div > p{
    padding-top: 2rem;
}

.img-hrz{
    width: 5%;
}

.section2 > img{
    width: 60%;
}

.section2 > .description{
    padding: 2.5rem 2rem;
    color: grey;
}

.section2 > .description > h3{
    margin-bottom: 1rem;
    color: black;
}

.section2 > .description > p{
    font-size: small;
    margin-bottom: 2rem;
}

.section2 > .description > button{
    font-size: small;
    color: gray;
    font-weight: 500;
    border: 1px solid gray;
    padding: .5rem;
    margin: 0;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card2{
    width: 30%;
}

.card2 > img {
    width: 100%;
}

.card2 > h3{
    padding: 1rem 0;
}

.card2 > p{
    padding-bottom: 2rem;
    font-weight: 100;
}

.section4-link > h2{
    margin-bottom: 3rem;
}


.clients-container{
    display: flex;
}

.clients-container > .sec1{
    display: flex;
    flex-wrap: wrap;
    width: 33%;
}
.clients-container > .sec2{
    width: 33%;
    padding: 2rem;
}
.clients-container > .sec3{
    display: flex;
    flex-wrap: wrap;
    width: 33%;
}

.sec1 > div{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
}
.sec1 > div > img{
    width: 100%;
    display: block;
    padding: 30%;
    filter: invert();
}

.sec2 > img{
    width: 40%;
}

.sec2 > p, .signature{
    font-size: small;
    font-weight: 200;
    margin-top: 10% ;
}


.sec3 > div{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;

}
.sec3 > div > img{
    width: 100%;
    display: block;
    padding: 30%;
    filter: invert();
}

.box-free{
    display: flex;
    justify-content: space-evenly;
    padding: 3rem 0;
    background-color: #B4D0E7;
    color: #61082B;
}
.box-free > h2{
    width: 30%;
}

.box-free > button{
    background-color:  white;
    padding: .5rem 1.5rem;
    color: black;
}

.section5 > h2{
    margin-bottom: 2rem;
}
.line{
    color: gray;
    width: 100%;
}
.line-client{
    background-color: lightgray;
    width: 20%;
    height: 1px;
    margin-top: 10%;
}

.Q-inner-container{
    display: flex;
    justify-content: space-between;
}


.Q-container > p{
    display: none;  
    color: lightgray;
    padding-top: 1rem;  
}
.Q-container > p{
    max-width: 80%;
}

.Q-inner-container > img{
    padding-right: 2rem;
    width: 55px;
    height: 30px;
} 

.Q-container:hover{
    height: 100px;
}

.Q-container:hover p{
    display: block;
}

.list-container{
    display: flex;
    justify-content: space-between;
}

.title-list{
    font-weight: bold;
    color: white;
    padding: 1rem 0;
    font-size: large;
}

.list{
    color: white;
    list-style: none;
}
.list > li{
    font-size: small;
    font-weight: 100;
    padding: .3rem 0;
}

.footer-line{
    background-color: rgb(128, 128, 128);
    height: 2px;
    width: 10%;
    margin-top: 3rem;
}

.lang-selector{
    color:rgb(128, 128, 128);
    padding: 1.5rem 0;
    font-size: small;
    column-gap: .2rem;
}

.lang-selector > img{
    width: 2%;
    height: 2%;
}